
ul.nav a:hover { color: black !important; }
.container{
    margin-bottom: 100px;
   
}
.nav a{
    color: gray;
}
.row p{
 color: gray;
}
.btn-by-now{
    color: blanchedalmond;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightslategrey;
    border-radius: 5px;
    size: 5rem;
    box-sizing: border-box;
    margin-top: 30px;
    
}
.Smartphone img{
    width: 100%;
    padding: 10px;
  text-align: center;
 
}
.Smartphone,h5,p,button{
    text-align: center;
}
.border{
    size: 10px;
}
.bag{
    
    box-sizing: content-box;
}
.underline  h1{
   text-decoration: yellow;
}
.bag{
    margin-top: 120px;
}
.carousel-indicators li{
    background-color: gray;
}
.carousel-indicators li.active{
    background-color: orange;
}
#cat{
    border: none;
    box-shadow: 5px 5px 10px grey;
    border-radius: 20px 5px 20px 5px;
    padding: 20px 10px;
    margin: 60px 0px;
}
.line{
    height: 8px;
    width: 100px;
    border-radius: 4px;
    background-color: orange;
    margin: 0 auto;
}